GITHUB_ACTOR=your-github-username
GITHUB_TOKEN=your-github-token

GITHUB_ACTOR=your-github-username
GITHUB_TOKEN=your-github-token

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
