# Values below are for Docker Compose. For local runs, switch service hosts
# to localhost and published ports.
AUTH_SERVER_URL=http://keycloak:8080/realms/studydocs-app
REDIS_HOST=redis
USER_SERVICE_URL=http://user-service:8080
MEDIA_SERVICE_URL=http://media-service:8080
EDUCATION_SERVICE_URL=http://education-service:8080
ZIPKIN_URL=http://zipkin:9411/api/v2/spans
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_HEADERS=*
APP_SECURITY_WHITELIST_PUBLIC_ALL=/auth/**,/api/v1/auth/**
APP_SECURITY_WHITELIST_AUTH_ALL=/auth/**,/api/v1/auth/**
APP_SECURITY_WHITELIST_PASSWORD_ALL=/auth/forgot-password,/api/v1/auth/forgot-password
APP_SECURITY_WHITELIST_OAUTH_ALL=/auth/google/**,/api/v1/auth/google/**
APP_SECURITY_WHITELIST_PUBLIC_GET=/media/**,/documents/**,/universities/**
